{% extends 'home.html' %}
{% load static %}
{% block title %}Login{% endblock %}

{% block profile %}

<button data-popover-target="popover-user-profile" type="button" class="hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 rounded-full px-1 py-1   dark:focus:ring-blue-800">
    <img class="w-10 h-10 rounded-full" src="{{ profile.profile_picture.url }}" alt="Jese Leos">
</button>

<div data-popover id="popover-user-profile" role="tooltip" class="absolute z-10 invisible inline-block w-64 text-sm text-gray-500 transition-opacity duration-300 bg-white  rounded-lg shadow-sm opacity-0 dark:text-gray-400 dark:bg-gray-800 dark:border-gray-600">
    <div class="rounded-lg  bg-white px-4 pt-8 pb-10 shadow-lg">
        <div class="relative mx-auto w-36 rounded-full">
        <span class="absolute right-0 m-3 h-3 w-3 rounded-full bg-green-500 ring-2 ring-green-300 ring-offset-2"></span>
            {% if profile.profile_picture %}
                <img  class="mx-auto h-auto w-full rounded-full" src="{{ profile.profile_picture.url }}" alt="Profile Picture">
            {% endif %}

        <!-- <img class="mx-auto h-auto w-full rounded-full" src="https://images.unsplash.com/photo-1500648767791-00dcc994a43e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2.25&w=256&h=256&q=80" alt="" /> -->
        </div>
        <h1 class="my-1 text-center text-xl font-bold leading-8 text-gray-900">{{ profile.user.username }}</h1>
        <h3 class="font-lg text-semibold text-center leading-6 text-gray-600">Specialization: {{ profile.specialty }}</h3>
        <p class="text-center text-sm leading-6 text-gray-500 hover:text-gray-600">License Number: {{ profile.license_number }}</p>
        <ul class="mt-3 divide-y rounded bg-gray-100 py-2 px-3 text-gray-600 shadow-sm hover:text-gray-700 hover:shadow">
        <li class="flex items-center py-3 text-sm">
            <span>Status</span>
            <span class="ml-auto"><span class="rounded-full bg-green-200 py-1 px-2 text-xs font-medium text-green-700">Available</span></span>
        </li>
        <li class="flex items-center py-3 text-sm">
            <span>Email</span>
            <span class="ml-auto">{{ profile.user.email }}</span>
        </li>
        <li class="flex items-center py-3 text-sm">
            <span>Address</span>
            <span class="ml-auto">{{ profile.line1 }}</span>
        </li>
        <li class="flex items-center py-3 text-sm">
            <span>City</span>
            <span class="ml-auto">{{ profile.city }}</span>
        </li>
        <li class="flex items-center py-3 text-sm">
            <span>State</span>
            <span class="ml-auto">{{ profile.state }}</span>
        </li>
        <li class="flex items-center py-3 text-sm">
            <span>Pincode</span>
            <span class="ml-auto">{{ profile.pincode }}</span>
        </li>
        <li class="flex items-center py-3 text-sm">
            <span>Joined On</span>
            <span class="ml-auto">{{ profile.user.date_joined }}</span>
        </li>
        </ul>
    </div>
    <div data-popper-arrow></div>
</div>


{% endblock %}

{% block loginout %}<a href="{% url 'logout' %}" class="py-2 px-3 bg-gray-400 text-white rounded hover:bg-gray-400">Logout</a>{% endblock %}


{% block content %}
<div class="mx-auto grid grid-cols-3 gap-4">
    <div class="col-span-2">
        

        <div class="bg-gray-100 m-10 px-2 pt-5">
            <div class="mb-4 border-b border-gray-200 dark:border-gray-700">
                <ul class="flex flex-wrap -mb-px text-sm font-medium text-center" id="default-tab" data-tabs-toggle="#default-tab-content" role="tablist">
                    <li class="me-2" role="presentation">
                        <button class="inline-block p-4 border-b-2 rounded-t-lg" id="myposts-tab" data-tabs-target="#myposts" type="button" role="tab" aria-controls="myposts" aria-selected="false">My Posts</button>
                    </li>
                    <li class="me-2" role="presentation">
                        <button class="inline-block p-4 border-b-2 rounded-t-lg hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300" id="drafts-tab" data-tabs-target="#drafts" type="button" role="tab" aria-controls="drafts" aria-selected="false">Drafts</button>
                    </li>
                    <li class="me-2" role="presentation">
                        <button class="inline-block p-4 border-b-2 rounded-t-lg hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300" id="appointments-tab" data-tabs-target="#appointments" type="button" role="tab" aria-controls="appointments" aria-selected="false">My Appointments</button>
                    </li>
                </ul>
            </div>
            <div class="scrollable-posts max-h-[700px] overflow-y-auto">
                <div id="default-tab-content">
                    <div class="hidden p-4 rounded-lg" id="myposts" role="tabpanel" aria-labelledby="myposts-tab">
                        
                        
                        {% for post in blog_posts %}
                                <article onclick="show_data('{{post.id }}')" class="mx-auto my-10 flex max-w-md flex-col rounded-2xl hover:bg-teal-100  transition duration-300 bg-white px-4 shadow md:max-w-5xl md:flex-row md:items-center">
                                <div class="shrink-0 my-4 md:mr-8 md:max-w-sm">
                                    <img class="rounded-2xl" src="{{ post.image.url }}" alt="" />
                                </div>
                                <div class="py-4 sm:py-8">
                                    <a href="#" class="mb-6 block text-2xl font-medium text-gray-700">{{ post.title }}</a>
                                    <p class="mb-6 text-gray-500">{{ post.summary }}</p>
                                    <div class="flex items-center">
                                    <img class="h-10 w-10 rounded-full object-cover" src="{{ post.author.profile_picture.url }}" alt="Simon Lewis" />
                                    <p class="ml-4 w-56">
                                        <strong class="block font-medium text-gray-700">{{ post.author.username }}</strong>
                                        <span class="text-sm text-gray-400">{{ post.created_at }}</span>
                                    </p>
                                    </div>
                                </div>
                                </article>
                        {% endfor %}
                    </div>
                    <div class="hidden p-4 rounded-lg " id="drafts" role="tabpanel" aria-labelledby="drafts-tab">
                        {% for post in draft_blog_posts %}
                            <article class="mx-auto my-10 flex max-w-md flex-col rounded-2xl hover:bg-teal-100  transition duration-300 bg-white px-4 shadow md:max-w-5xl md:flex-row md:items-center">
                                <div class="shrink-0 my-4 md:mr-8 md:max-w-sm">
                                    <img class="rounded-2xl" src="{{ post.image.url }}" alt="" />
                                </div>
                                <div class="py-4 sm:py-8">
                                    <a href="#" class="mb-6 block text-2xl font-medium text-gray-700">{{ post.title }}</a>
                                    <p class="mb-6 text-gray-500">{{ post.summary }}</p>
                                    <div class="flex justify-between">
                                        <div class="flex items-center">
                                            <img class="h-10 w-10 rounded-full object-cover" src="{{ post.author.profile_picture.url }}" alt="Simon Lewis" />
                                            <p class="ml-4 w-56">
                                                <strong class="block font-medium text-gray-700">{{ post.author.username }}</strong>
                                                <span class="text-sm text-gray-400">{{ post.created_at }}</span>
                                            </p>
                                        </div>
                                        <div class="flex gap-4 mr-4 mt-2">
                                            <div class="hover:bg-green-200 focus h-10 w-10 items-center hover:rounded-full edit-icon" post-id="{{ post.id }}" data-title="{{ post.title }}" data-content="{{ post.content }}" data-category="{{ post.category }}" data-image="{{ post.image.url }}" data-draft="{{ post.draft }}">
                                                <span class="material-symbols-outlined">edit</span>
                                            </div>
                                            <div class="hover:bg-red-200 focus h-10 w-10 items-center hover:rounded-full">
                                                <a href="{% url 'delete_post' post.id %}">
                                                    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#EA3323">
                                                        <path d="M280-120q-33 0-56.5-23.5T200-200v-520h-40v-80h200v-40h240v40h200v80h-40v520q0 33-23.5 56.5T680-120H280Zm400-600H280v520h400v-520ZM360-280h80v-360h-80v360Zm160 0h80v-360h-80v360ZM280-720v520-520Z"/>
                                                    </svg>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </article>
                        {% endfor %}
                    </div>
                    <div class="hidden p-4 rounded-lg " id="appointments" role="tabpanel" aria-labelledby="appointments-tab">
                        <div class="scrollable-posts max-h-[700px] overflow-y-auto">
                            {% for appointment in appointments %}
                            <article onclick="show_data('{{post.id }}')" class="mx-auto my-10 flex max-w-md flex-col rounded-2xl hover:bg-teal-100 transition duration-300 bg-white px-4 shadow md:max-w-5xl md:flex-row md:items-center">
                                <div class="py-4 sm:py-8">
                                    <a href="#" class="mb-2 block text-2xl font-medium text-gray-700 article-title">Appointment with {{ appointment.patient.user.username }}</a>
                                    {% if appointment.status == 'Cancelled'  %}
                                        <span class="bg-red-100 text-red-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded-full dark:bg-red-900 dark:text-red-300">Cancelled</span>
                                    {% elif appointment.status == 'Confirmed' %}
                                        <span class="bg-green-100 text-green-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded-full dark:bg-green-900 dark:text-green-300">Confirmed</span>
                                    {% elif appointment.status == 'Pending' %}
                                    <span class="bg-green-100 text-green-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded-full dark:bg-green-900 dark:text-green-300">Created</span>
                                        
                                    <!-- <span class="bg-green-100 text-yellow-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded-full dark:bg-yellow-900 dark:text-yellow-300">Created</span> -->
                                    {% endif %}
                                    <p class="mb-1 text-gray-500 article-summary">Required Speciality {{ appointment.required_speciality }}</p>
                                            <strong class="block font-medium text-gray-700">{{ post.author.username }}</strong>
                                            <span class="text-sm text-gray-400">Date: {{ appointment.date }}</span><br>
                                            <span class="text-sm text-gray-400">Start Time: {{ appointment.time }}</span><br>
                                            <span class="text-sm text-gray-400">End Time: {{ appointment.end_time }}</span><br>
                                            <span class="text-sm text-gray-400">Total Duration: 45 mins</span>
                                    <div class="flex mt-4">
                                    
                                    </div>
                                    
                                    

                                </div>
                            </article>
                            {% endfor %}  
                        </div>
                    </div>
                </div>
            </div>

            <!-- <div class="scrollable-posts max-h-[700px] overflow-y-auto">
                
                </div> -->
            </div>
    </div>
        
    <div>
        <style>
        body {background:white !important;}
        </style>
        <form action="/dash/post/" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="editor mt-10 mx-auto w-10/12 flex flex-col text-gray-800 border border-gray-300 p-4 shadow-lg max-w-2xl">
                <div class="heading text-center font-bold text-2xl m-3 text-gray-800">Write a Blog Post</div>
                <input class="title bg-gray-100 border border-gray-300 p-2 mb-4 outline-none" spellcheck="false" placeholder="Title" name="title" type="text">
                <textarea class="description bg-gray-100 sec p-3 h-60 border border-gray-300 outline-none" spellcheck="false" placeholder="Write your thoughts here" name="content"></textarea>
                <div class="max-w-sm">
                    <label for="underline_select" class="sr-only">Select a Category</label>
                    <select name="category" id="underline_select" class="block py-2.5 px-0 w-full text-sm text-gray-500 bg-transparent border-0 border-b-2 border-gray-200 appearance-none dark:text-gray-400 dark:border-gray-700 focus:outline-none focus:ring-0 focus:border-gray-200 peer">
                        <option selected>Select a Category</option>
                        <option value="MH">Mental Health</option>
                        <option value="HD">Heart Disease</option>
                        <option value="COV">Covid 19</option>
                        <option value="IMM">Immunization</option>
                    </select>
                    
                </div>
                <div class="flex items-center m-2 mt-2">
                    <input type="checkbox" id="draft" name="draft" class="form-checkbox h-5 w-5 text-indigo-600">
                    <label for="draft" class="ml-2 text-gray-700">Save as Draft</label>
                </div>
                
                <!-- icons -->
                <div class="icons flex text-gray-500 m-2">
                    <input id="file-input" name="image" type="file" accept="image/*" class="hidden">
                    <span id="upload-icon" class="material-symbols-outlined cursor-pointer">add_photo_alternate</span>
                    <div class="count ml-auto text-gray-400 text-xs font-semibold">0/300</div>
                </div>
                <!-- buttons -->
                
                <div class="buttons flex">
                    <button type="submit" class="btn border border-indigo-500 p-1 px-4 font-semibold cursor-pointer text-gray-200 ml-2 bg-indigo-500">Post</button>
                </div>
            </div>
        </form>

        <!-- Show Toast  -->
        {% if success %}
        <div id="toast-success" class="flex mx-auto items-center w-full max-w-xs p-4 mb-4 text-gray-500 bg-white rounded-lg shadow" role="alert">
            <div class="inline-flex items-center justify-center flex-shrink-0 w-8 h-8 text-green-500 bg-green-100 rounded-lg">
                <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                    <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z"/>
                </svg>
                <span class="sr-only">Check icon</span>
            </div>
            <div class="ms-3 text-sm font-normal">{{ message }}</div>
            <button type="button" class="ms-auto -mx-1.5 -my-1.5 bg-white text-gray-400 hover:text-gray-900 rounded-lg focus:ring-2 focus:ring-gray-300 p-1.5 hover:bg-gray-100 inline-flex items-center justify-center h-8 w-8 " data-dismiss-target="#toast-success" aria-label="Close">
                <span class="sr-only">Close</span>
                <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
                </svg>
            </button>
        </div>
        {% endif %}
    
        
    </div>
    
</div>
<!-- Modal Structure -->
<div id="editModal" class="fixed z-10 inset-0 overflow-y-auto hidden">
    <div class="flex items-center justify-center min-h-screen">
        <div class="bg-white p-5 rounded-lg shadow-lg w-1/2">
            <div class="flex justify-between items-center">
                <h3 class="text-xl font-medium text-gray-700">Edit Post</h3>
                <button id="closeModal" class="text-gray-700">&times;</button>
            </div>
            <form id="editForm" method="POST" enctype="multipart/form-data" action="{% url 'update_post' %}">
                {% csrf_token %}
                <input class="hidden" type="number" name="post_id" id="post_id">
                <div class="mt-4">
                    <label for="title" class="block text-gray-700">Title:</label>
                    <input type="text" id="title" name="title" class="w-full p-2 border border-gray-300 rounded mt-1">
                </div>
                <div class="mt-4">
                    <label for="content" class="block text-gray-700">Content:</label>
                    <textarea id="content" name="content" class="w-full p-2 border border-gray-300 rounded mt-1"></textarea>
                </div>
                <div class="mt-4">
                    <label for="category" class="block text-gray-700">Category:</label>
                    <input type="text" id="category" name="category" class="w-full p-2 border border-gray-300 rounded mt-1">
                </div>
                <div class="mt-4">
                    <label for="image" class="block text-gray-700">Image:</label>
                    <input type="file" id="image" name="image" class="w-full p-2 border border-gray-300 rounded mt-1">
                </div>
                <div class="mt-4">
                    <label for="draft" class="block text-gray-700">Draft:</label>
                    <input type="checkbox" id="draft" name="draft">
                </div>
                <div class="mt-4">
                    <button type="submit" class="px-4 py-2 bg-blue-600 text-white rounded">Save Changes</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% for post in blog_posts %}
    <div id="{{ post.id }}" class="fixed flex top-0 left-0 z-10 w-full h-full bg-gray-800 bg-opacity-50 flex justify-center items-center hidden" >
      <article  class="mx-auto my-10 flex max-w-md flex-col z-20 rounded-2xl transition duration-300 bg-white px-4 shadow md:max-w-5xl md:flex-row md:items-center ">
          <div class="shrink-0 my-4 md:mr-8 md:max-w-sm">
              <img class="rounded-2xl" src="{{ post.image.url }}" alt="" />
          </div>
          <div class="py-4 sm:py-8">
              <a href="#" class="mb-6 block text-2xl font-medium text-gray-700 article-title">{{ post.title }}</a>
              <p class="mb-6 text-gray-500 article-summary">{{ post.content }}</p>
              <div class="flex items-center">
                  <img class="h-10 w-10 rounded-full object-cover" src="{{ post.author.profile_picture.url }}" alt="Author Profile Picture" />
                  <p class="ml-4 w-56">
                      <strong class="block font-medium text-gray-700">{{ post.author.username }}</strong>
                      <span class="text-sm text-gray-400">{{ post.created_at }}</span>
                  </p>
                <button id="closedata" onclick="closedata('{{ post.id }}')" class="mt-4 bg-blue-500 hover:bg-blue-600 text-white py-2 px-4 rounded">Close</button>

              </div>
          </div>
      </article>
    </div>
    {% endfor %}
<script>
    document.getElementById('upload-icon').addEventListener('click', function() {
            document.getElementById('file-input').click();
        });
    function odo(){
        fileimage = document.getElementById('file-input').value;
        console.log(fileimage);
    }

    document.addEventListener('DOMContentLoaded', (event) => {
    const editIcons = document.querySelectorAll('.edit-icon');
    const editModal = document.getElementById('editModal');
    const closeModal = document.getElementById('closeModal');
    const editForm = document.getElementById('editForm');

    editIcons.forEach(icon => {
        icon.addEventListener('click', () => {
            const postId = icon.getAttribute('post-id');
            console.log("this is post id"+postId);
            const postTitle = icon.getAttribute('data-title');
            const postContent = icon.getAttribute('data-content');
            const postCategory = icon.getAttribute('data-category');
            const postImage = icon.getAttribute('data-image');
            const postDraft = icon.getAttribute('data-draft') === 'True';

            document.getElementById('post_id').value = postId;
            document.getElementById('title').value = postTitle;
            document.getElementById('content').value = postContent;
            document.getElementById('category').value = postCategory;
            // Image handling can be complex, usually you won't populate it here
            document.getElementById('draft').checked = postDraft;

            editModal.classList.remove('hidden');
        });
    });

    closeModal.addEventListener('click', () => {
        editModal.classList.add('hidden');
    });

    window.addEventListener('click', (event) => {
        if (event.target === editModal) {
            editModal.classList.add('hidden');
        }
    });
});

function show_data(postid){
        console.log(postid);
        const content = document.getElementById(postid);
        content.classList.remove('hidden');
      }

function closedata(postid){
const content = document.getElementById(postid);
content.classList.add('hidden');
}

</script>
{% endblock %}